body {

}

/*
    Shared
*/
.content {
    padding-top: 4vw;
}

/*
    AppNavbar
*/
header .side-nav {
  width: 100px;
  box-shadow: none !important;
  background: transparent !important;
}

header .side-nav a {
    color: white !important;
}

/*
    Home
*/

section.homeComponent img.poster{
    width: 100% !important;
    max-height: 800px;
}